<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nexus101">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".student.StudentHomeActivity"
            android:label="@string/title_activity_home" />
        <activity
            android:name=".student.StudentAttendanceActivity"
            android:label="@string/title_activity_attendance" />
        <activity
            android:name=".Notification"
            android:label="@string/title_activity_notification" />
        <activity
            android:name=".student.StudentProfileActivity"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".teacher.TeacherHomeActivity"
            android:label="@string/title_activity_teacher_home" />
        <activity
            android:name=".teacher.TeacherProfileActivity"
            android:label="@string/title_activity_teacher_profile" />
        <activity
            android:name=".CourseViewActivity"
            android:label="@string/title_activity_course_view" />
        <activity
            android:name=".student.FileViewActivity"
            android:label="@string/title_activity_file_view" />
        <activity
            android:name=".teacher.TeacherAttendanceCourseSelectActivity"
            android:label="@string/title_activity_teacher_attendance" />
        <activity
            android:name=".admin.teacher.AdminTeacherAccountActivity"
            android:label="@string/title_activity_admin_home" />
        <activity
            android:name=".admin.group.AdminGroupActivity"
            android:label="@string/title_activity_admin_group" />
        <activity
            android:name=".admin.course.AdminCourseActivity"
            android:label="@string/title_activity_admin_course" />
        <activity
            android:name=".admin.AdminProfileActivity"
            android:label="@string/title_activity_admin_profile" />
        <activity
            android:name=".teacher.Group"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.student.AdminStudentAccountActivity"
            android:label="@string/title_activity_admin_student_account" />
        <activity
            android:name=".teacher.NotificationActivity"
            android:label="@string/title_activity_notification" />
        <activity android:name=".admin.group.CreateGroupActivity" />
        <activity android:name=".admin.group.AssignStudentActivity" />
        <activity android:name=".admin.course.CreateCourseActivity" />
        <activity android:name=".admin.course.AssignTeacherActivity" />
        <activity
            android:name=".admin.group.GroupViewActivity"
            android:label="@string/title_activity_group_view" />
        <activity
            android:name=".admin.group.CourseViewActivity"
            android:label="@string/title_activity_course_view" />
        <activity
            android:name=".admin.student.StudentProfileEditActivity"
            android:label="@string/title_activity_student_profile_edit" />
        <activity
            android:name=".admin.teacher.TeacherProfileEditActivity"
            android:label="@string/title_activity_teacher_profile_edit" />
        <activity android:name=".admin.student.CreateNewStudentActivity" />
        <activity android:name=".admin.teacher.CreateNewTeacherActivity" />
        <activity android:name=".teacher.TeacherFileViewActivity" />
        <activity
            android:name=".teacher.TeacherAttendanceTakingActivity"
            android:label="@string/title_activity_teacher_attendance_taking" />
        <activity android:name=".student.StudentFileCourseSelectActivity" />
        <activity android:name=".student.StudentAttendanceCourseSelectActivity"></activity>
    </application>

</manifest>